 .incorrect{
    color: rgba(73, 145, 254, 0.365);
    text-align: center;
    padding-bottom: 1%;
  }
  .incorrect{
    color: rgba(73, 145, 254, 0.365);
    text-align: center;
    padding-bottom: 1%;
  }
  
  .loginPage{
    /* background-color: white; */
    width: 50%;
    margin: 5% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
  .size{
    margin:8% auto;
    width: 100%;
  }
  /* .size>div:focus{
    border:1px solid rgb(203, 42, 42) !important ;
  } */
  .outlinedInput{
    border:1px solid rgba(73, 145, 254, 0.365) !important ;
  }
  .feilds{
    padding-bottom: 4%;
    width: 70%;
  }
  
  .continue{
    padding-top: 2% !important;
    padding-bottom: 2% !important;
    background-image: linear-gradient(to bottom right,rgba(73, 145, 254, 0.365),rgba(73, 145, 254, 0.447));
    /* border-color: ; */
    /* background-color: #f8ae53 !important; */
    color: rgb(252, 253, 254) !important;
  }
  .continue:hover{
    /* background-color: #fcbd71 !important; */
    color: rgba(73, 145, 254, 0.447) !important;
  }
  .css-1sumxir-MuiFormLabel-root-MuiInputLabel-root.Mui-focused{
    color:rgba(73, 145, 254, 0.365) !important;
  }
  /* .MuiFormControl-root ,.css-1nrlq1o-MuiFormControl-root{
    border:1px solid rgb(203, 42, 42) !important ;
  } */