.format{
   height: 100vh !important;
}
.container {
    
    height: 100px;
    position: relative;
    /* border: 3px solid green; */
    justify-content: center;
   
  } 
  
  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
   
