label{
    color:white;
}
.divide{
    background-color: rgb(129, 236, 236);
}
input{
    border: hidden;
    background-color: rgb(129, 236, 236);

}
.Actions{
    background-color: rgb(129, 236, 236);

}